/* Встановлення основного кольору для використання відповідно до змінної --primary-color */
:root {
    --primary-color: #e0c521;
}

/* Стилі для кнопок */
.btn {
    padding: 0.6rem 0.8rem; /* Встановлення відступів для кнопок */
    font-size: 1.2rem; /* Встановлення розміру шрифту */
    text-align: center; /* Вирівнювання тексту по центру */
    border: 0; /* Видалення межі */
    outline: none; /* Видалення контуру при фокусі */
    border-radius: 10px; /* Округлення кутів */
    width: 120px; /* Встановлення ширини кнопок */
    margin-left: 10px; /* Встановлення відступу зліва */
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77); /* Тінь кнопок */
    cursor: pointer; /* Зміна курсору при наведенні */
}

/* Стилі для кнопки "Додати" */
.btn.add {
    background-color: var(--primary-color); /* Встановлення фонового кольору для кнопки "Додати" з використанням змінної --primary-color */
}

/* Стилі для кнопки "Видалити" */
.btn.remove {
    background-color: tomato; /* Встановлення фонового кольору для кнопки "Видалити" */
}

/* Стилі для кнопки "Оформити замовлення" */
.btn.checkout {
    background-color: rgb(38, 121, 38); /* Встановлення фонового кольору для кнопки "Купити" */
    width: 150px; /* Зміна ширини кнопки "Купити" */
    color: #fff; /* Встановлення кольору тексту */
    font-size: 14px; /* Зміна розміру шрифту */
}

/* Стилі для активної кнопки */
.btn:active {
    transform: scale(0.98); /* Зміна масштабу при натисканні на кнопку */
}

/* Стилі для кнопки "Додати" при наведенні */
.btn.add:hover {
    background-color: #cab320; /* Зміна фонового кольору при наведенні на кнопку "Додати" */
}

/* Стилі для кнопки "Додати" при натисканні */
.btn.add:active {
    background-color: #ad9a1c; /* Зміна фонового кольору при натисканні на кнопку "Додати" */
}

/* Стилі для кнопки "Видалити" при наведенні */
.btn.remove:hover {
    background-color: rgb(209, 83, 61); /* Зміна фонового кольору при наведенні на кнопку "Видалити" */
}

/* Стилі для кнопки "Видалити" при натисканні */
.btn.remove:active {
    background-color: rgb(185, 73, 54); /* Зміна фонового кольору при натисканні на кнопку "Видалити" */
}

/* Стилі для кнопки "Оформити замовлення" при наведенні */
.btn.checkout:hover {
    background-color: rgb(41, 141, 41); /* Зміна фонового кольору при наведенні на кнопку "Купити" */
}

/* Стилі для кнопки "Оформити замовлення" при натисканні */
.btn.checkout:active {
    background-color: rgb(30, 93, 41); /* Зміна фонового кольору при натисканні на кнопку "Купити" */
}
