.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 0.6rem 0.8rem;
    margin-top: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
}

.select {
    width: 100%;
    padding: 0.6rem 0.8rem;
    margin-top: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
}