.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input, .select, .button-select-location {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 5px;
}

.button-select-location {
    margin-bottom: 15px; /* Додаємо нижній відступ до кнопки "Вибрати місцезнаходження на карті" */
}

.delivery-label {
    margin-top: 0;
    margin-bottom: 5px; /* Додаємо нижній відступ до заголовку "Доставка:" */
}

.select-delivery {
    margin-bottom: 15px; /* Додаємо нижній відступ до випадаючого списку для доставки */
}

.map-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.map-modal .leaflet-container {
    flex-grow: 1;
    border-radius: 5px;
}

.map-button-close {
    padding: 5px 10px;
    margin-top: 15px;
    margin-left: auto;
    background-color: var(--tg-theme-button-bg-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
