/* Стилі для контейнера з карточками */
.cart__container {
    display: flex; /* Встановлення відображення карточок як блоку */
    justify-content: center; /* Вирівнювання карточок по горизонталі по центру */
    align-items: center; /* Вирівнювання карточок по вертикалі по центру */
    margin-top: 12px; /* Встановлення відступу зверху */
    margin: 5px 15px; /* Встановлення зовнішніх відступів */
}
