/* Встановлення основного кольору для використання відповідно до змінної --primary-color */
:root {
    --primary-color: #e0c521;
}

/* Стилі для карточки */
.card {
    display: flex; /* Встановлення відображення карточки як блоку */
    flex-direction: column; /* Встановлення напрямку відображення елементів у стовпчик */
    justify-content: space-between; /* Вирівнювання елементів по вертикалі */
    width: 150px; /* Встановлення ширини карточки */
    height: 250px; /* Встановлення висоти карточки */
    border: 2px solid var(--primary-color); /* Встановлення межі з кольором змінної --primary-color */
    padding: 0.5rem 0.3rem; /* Встановлення відступів всередині карточки */
    margin: 13px 10px; /* Встановлення зовнішніх відступів карточки */
    position: relative; /* Встановлення позиціонування карточки */
    border-radius: 5px; /* Округлення кутів карточки */
}

/* Стилі для заголовку карточки */
.card__title {
    font-weight: 400; /* Нормальна товщина шрифту для заголовка */
    text-align: center; /* Вирівнювання тексту по центру */
}

/* Стилі для ціни у заголовку карточки */
.card__title .card__price {
    font-weight: bold; /* Жирний шрифт для ціни */
}

/* Стилі для контейнера зображення */
.image__container {
    width: 100px; /* Встановлення ширини контейнера зображення */
    height: 100px; /* Встановлення висоти контейнера зображення */
    margin: 0 auto; /* Вирівнювання по центру */
}

/* Стилі для зображення в контейнері */
.image__container img {
    width: 100%; /* Заповнення всієї ширини контейнера */
    object-fit: cover; /* Заповнення контейнера зображенням без виходу за межі */
}

/* Стилі для контейнера кнопок */
.btn-container {
    display: flex; /* Встановлення відображення кнопок як блоку */
    flex-direction: row; /* Встановлення напрямку відображення елементів у рядок */
    justify-content: center; /* Вирівнювання елементів по горизонталі по центру */
}

/* Стилі для ціни карточки */
.card__price {
    text-align: center; /* Вирівнювання тексту ціни по центру */
    display: inline-block; /* Встановлення відображення ціни як блока */
}

/* Стилі для бейджа карточки */
.card__badge {
    position: absolute; /* Встановлення позиціонування бейджа абсолютно */
    top: 0; /* Встановлення відступу зверху */
    right: 0; /* Встановлення відступу справа */
    width: 40px; /* Встановлення ширини бейджа */
    height: 40px; /* Встановлення висоти бейджа */
    background-color: rgb(227, 112, 30); /* Встановлення фонового кольору бейджа */
    border-radius: 50%; /* Округлення кутів бейджа */
    transform: translate(20px, -20px) scale(1); /* Зміщення бейджа та масштабування */
    color: #fff; /* Встановлення кольору тексту бейджа */
    font-weight: bold; /* Встановлення товщини шрифту для тексту бейджа */
    text-align: center; /* Вирівнювання тексту по центру */
    border: 2px solid rgb(227, 112, 30); /* Встановлення межі бейджа */
    font-size: 20px; /* Встановлення розміру шрифту бейджа */
    display: flex; /* Встановлення відображення бейджа як блоку */
    justify-content: center; /* Вирівнювання тексту по горизонталі по центру */
    align-items: center; /* Вирівнювання тексту по вертикалі по центру */
    transition: all 0.3s ease; /* Плавне змінення всіх стилів за 0.3 секунди */
    animation: scaleanimation 1s ease infinite; /* Анімація масштабування бейджа */
    opacity: 0.8; /* Прозорість бейджа */
}

/* Анімація масштабування бейджа */
@keyframes scaleanimation {
    to {
        transform: translate(20px, -20px) scale(1.05); /* Зміщення та збільшення масштабу бейджа */
        opacity: 1; /* Повна прозорість */
    }
}

/* Стилі для прихованого бейджа карточки */
.card__badge--hidden {
    display: none; /* Приховання бейджа */
}
