

.product {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    width: 170px; 
    border: 1px solid var(--tg-theme-button-color); 
    padding: 15px; 
    border-radius: 5px; 
}

.img {
    width: 100%; 
    height: 150px; 
    margin: 0 auto; 
    background: var(--primary-color); 
}

.img img {
    width: auto; 
    height: 100%; 
    object-fit: contain; 
}


.title {
    text-align: center; 
    font-weight: bold; 
    font-size: 1.2em; 
}


.title span:first-child {
    font-weight: bold; 
    font-size: 1.2em; 
}


.description {
    font-size: 0.7em; 
    margin-bottom: 10px; 
}

.add-btn {
    width: 100%; 
    border-radius: 5px; 
    background-color: rgba(82, 136, 193, 0.2); 
    border: 1px solid var(--tg-theme-button-color); 
    color: white; 
    font-weight: bold; 
}
.added {
    background-color: green;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px; 
}

.product .description {
    margin-bottom: 10px; 
    text-align: center;
}

.price {
    text-align: center; 
}
